=javascript_include_tag 'services_datatable'
%h1 Услуги
%table#services-datatable.table.table-hover{"data-source": services_path(format: :json)}  
  %thead
    %tr
      %th Категория
      %th Название
      %th Цена
  %tbody
%br
= link_to 'Новая услуга', new_service_path
