%h1 Резервации
%table#dttb-reservations.responsive.nowrap.table.table-hover{"data-sort" => "true", "data-source" => "#{url_for(format: :json)}"}
  %thead
    %tr
      %th{"data-data" => "user"} Пользователь
      %th{"data-data" => "room"} Комната
      %th{"data-data" => "date"} Дата
      %th{"data-data" => "start_time"} Начало
      %th{"data-data" => "end_time"} Конец
      %th.skip-export{"data-class-name" => "all", "data-data" => "url", "data-orderable" => "false", "data-searchable" => "false", :width => "100px"}
%br/
= link_to 'Новая резервация', new_reservation_path
