%h1.mb-3 Organizations
%table.table.table-hover#organizationsTable
  %thead
    %tr
      %th Name
      %th Owner
      %th Adress
      %th Opening time
      %th Closing time
      %th Options
  %tbody
    -# - @organizations.each do |organization|
    -#   %tr
    -#     %td= organization.name
    -#     %td= organization.user.name
    -#     %td= organization.adress
    -#     %td= organization.opening_time.strftime('%H:%M')
    -#     %td= organization.closing_time.strftime('%H:%M')
    -#     %td
    -#       = link_to 'Show', organization
    -#       = link_to 'Edit', edit_organization_path(organization)
%br/
= link_to 'New Organization', new_organization_path if current_user.admin?

:javascript
  $(document).ready( function () {
      $('#organizationsTable').DataTable({
        'columnDefs': [{
            "targets": [5],
            "orderable": false
        }]
      });
  } );