=javascript_include_tag 'organizations_datatable'
%h1.mb-3 Организации
%table.table.table-hover#organizations-datatable{"data-source" => "#{organizations_path(format: :json)}"}
  %thead
    %tr
      %th Название
      %th Владелец
      %th Адрес
      %th Время открытия
      %th Время закрытия
      %th Опции
  %tbody
%br/
= link_to 'Создать новую организацию', new_organization_path if current_user.admin?